:root {
    --black-color: black;
    --white-color: #fff;
    --background-second-color: #03aecb;
    --card-temple-color: #e6e7e7;
    --header-footer-color:#383838;
    --body-color: #1d2021;
    --body-background-color2:#f6f3db;
    --site-font: 'Montserrat', sans-serif;
    --site-font2:'Fira Sans Book', sans-serif;
    --memberCard-background-color:#f8e886;
    --memberCard-background-color2:#fbf0c9;
    --h2-background-color:#a4b925;
    --paragraph-color: #e17a19;
    --paragraph-color2: #eeead5;
    --background-color-template:#4f8726; 
    --membership-background-color:#8ec07c;
    --silverMember-background-color: #a89984;
    --goldMember-background-color: #d79921;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--site-font);
    width: auto;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--header-footer-color);  
    color: white;
    text-align: center;
    margin-bottom: 20px;
    position: relative

}

h1, h2, h3 {
    word-break: break-word;
}

.header-container {
    display: flex;
    padding: 20px;
    align-items: center;
}

.header-container .logo {
    background-color: white;
    border-radius: 50%
}

.header-title {
    margin: 10px;
}
.header-title h2 {
    font-size: 2rem;
}

.main-menu {
    display: flex;
    list-style-type: none;
    flex-direction: column;
}

.menu-icon {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    background-color: var(--header-footer-color);
    color: var(--h2-background-color);
    border: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

/* #menu-toggle {
    display: block;
} */

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: var(--paragraph-color2);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    color:var(--h2-background-color);
    font-weight: 700;
}

.topnav a.active {
    color: var(--h2-background-color);
}  
.topnav .icon {
    display: none;
}

body {
    background-color: var(--body-background-color2);
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

h1 {
    text-align: center;
}


.toggle-view {

    display: none;
    margin-bottom: 20px;
}
.member-card {
    border-radius: 5px;
    background-color: var(--memberCard-background-color2);
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10);
    text-align: center;
    line-height: 1.5;
    overflow: hidden;
    color: var(--header-footer-color);

}
.membership {
    background-color: var(--membership-background-color);
    border-radius: 5px;
    margin: 10px;
    padding: 5PX;
}

.silver {
    background-color: var(--silverMember-background-color);
    border-radius: 5px;
    margin: 10px;
    padding: 5PX;
}


.gold {
    background-color: var(--goldMember-background-color);
    border-radius: 5px;
    margin: 10px;
    padding: 5PX;

}

.hero-container {
    overflow: hidden;
    background-color: var(--header-footer-color);
    color: var(--white-color);
    justify-content: center;
    margin: 0 auto 2em;
    text-align: center;
    padding: 0 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10);
}

.flex {
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}


.hero-content {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    max-width: 60rem;
    width: 100%;
    padding: 20px;
}

.hero-title{

    font-weight: 700;
    color: var(--h2-background-color);
    line-height: 1.2;
    margin-bottom: 1rem;
    font-size: calc(1.8rem + 3vmin);
}

.hero-description {
    opacity: 0.8;
    font-size: calc(1.1rem + .5vmin);
    line-height: 1.4;
    margin: 0 auto 2em;
}


.form-subscription {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    max-width: 50rem;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.form-subscription input {
    width: 100%;
    padding: .75em 1em;
    border-radius: 5px;
    border: 1px solid var(--header-footer-color);
    margin-bottom: 1em;
}

.form-subscription button {
    width: 100%;
    border-radius: 5px;
    color: var(--header-footer-color);
    min-height: 46px;
    cursor: pointer;
}

.uppercase {
    text-transform: uppercase;
}

.btn {
    align-items: center;
    align-self: flex-start;
    background-color: var(--h2-background-color);
    font-size: .9rem;
    text-align: center;
    padding: .75em 1em;
    font-weight: 700;
    border: none;
    line-height: 1;
    letter-spacing: calc(1rem * .025)
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

figure img {
    width: 100%;
}

.weather-section {
    color: var(--white-color);
    margin-bottom: 1em;
}



.home-events, .weather-cards{
    background-color: var(--header-footer-color);
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10);
    color: var(--paragraph-color2);
    line-height: 1.6;

}

#current-temp {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}

#current-temp p {
    justify-content: left;
}

.company-spotlight {
    margin-bottom: 20px;
    background-color: var(--memberCard-background-color2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 10);
    padding: 20px;
    border-radius: 5px;
}

.company-spotlight h2 {
    margin-bottom: 10px;
    color: var(--header-footer-color);
    font-weight: 700;
    grid-column: 1 / 4;
    text-align: center;
}

.company-spotlight > * {
    width: 100%;
}

.premium-member-card {
    border-radius: 5px;
    background-color: var(--header-footer-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 10);
    line-height: 1.2;
    padding: 1rem;
    display: grid;
    grid-template-columns: .5fr 1fr;
    overflow: hidden;
    margin-bottom: 20px;

}

.member-info {
    display: flex;
    flex-direction: column;
    color: var(--h2-background-color);
}

.member-info p {
    margin-bottom: 5px;
    font-size: .8rem;
}
.member-info h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.member-info a {
    color: var(--card-temple-color);
    text-decoration: none;
}

.premium-member-card >.member-image img{
    width: 40%;
    margin: 0 auto;
    border-radius: 5px;

}

.premium-member-card >.member-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-type {
    color: #000000;
    font-weight: 700;
    text-align: center;
    width: 50%;
}

.required {
    color: #990000;
    padding: 5px;
    margin: 2px;
}


main .join-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/****************Join the Chamber page***************/

.header--join-page{
    margin: 0;
}




.join-form {
    display: flex;
    flex-direction: column;
    background-color: var(--body-background-color2);
    color: var(--header-footer-color);
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(128, 128, 128, 0.5);

    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;

}

.join-form div {

    text-align: left;
    margin: 20px;
    font-size: .8rem;
    color: #990000;
}


label p {
    margin-bottom: 5px;
}

.join-form h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}

.join-form label {
    padding-top:1rem ;
    display: block;
}

.join-form label input {
    max-width: 20rem;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    
}

.join-the-chamber , .membership-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
}


.personal-info, .membership-info {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

label select {
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}


label #business-description {
    max-width: 20rem;
    width: 100%;
    border-radius: 5px;
    height: 100px;
}

.join-btn{
    align-self: center;    
    background-color: var(--h2-background-color);
    font-size: .9rem;
    text-align: center;
    padding: .75em 1em;
    font-weight: 700;
    border: none;
    line-height: 1;
    letter-spacing: calc(1rem * .025);
    border-radius: 5px;
    width: 200px;
}
.join--main {

    background-color: var(--header-footer-color);
}


.membership-levels{
    background-color: var(--body-background-color2);
    margin: 20px;
    border-radius: 5px;
    padding: 20px;
    height: 900px;
}


.membership-levels h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}


.membership-card {
    border-radius: 5px;
    background-color: var(--header-footer-color);
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10);
    text-align: center;
    line-height: 1.5;
    overflow: hidden;
    height: 200px;
    color: var(--paragraph-color2);
    transform: translateY(50px); /* Pequeño desplazamiento para la animación */
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Añadir un retraso a cada tarjeta */
  .member-card:nth-child(1) {
    animation-delay: 0.5s; /* Primer miembro aparece después de 0.5s */
  }
  
  .member-card:nth-child(2) {
    animation-delay: 1s; /* Segundo miembro aparece después de 1s */
  }
  
  .member-card:nth-child(3) {
    animation-delay: 1.5s; /* Tercer miembro aparece después de 1.5s */
  }

.membership-card h3 {   
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.learn-more-btn-car-membership{
    width: 200px;
    border-radius: 5px;
    color: var(--header-footer-color);
    min-height: 46px;
    cursor: pointer;
    background-color: var(--h2-background-color);
    border: none;
    font-weight: 700;
}



.modal-header {
    display: flex;
    background-color: var(--header-footer-color);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    align-items: center;   
    color: white;
    padding: 20px;
    justify-content: center;
    font-size: 1.4rem;
}




dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(0, 0, 0, 10);
    border-radius: 5px;
    background-color: var(--memberCard-background-color2);
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}


dialog button {
    font-size: 2rem;
    background-color: var(--h2-background-color);
    color: var(--header-footer-color);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 20px;
    width: 200px;
    height: 40px;
}

.benefits {
    line-height: 1.9;
}

.benefits ul li {
    list-style-type: disc;
}
/**********************Thank you page*************************/
.submission-details-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.data-coming-from-form {
    border-radius: 5px;
    background-color: var(--memberCard-background-color2);
    margin-bottom: 50px;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10);
    text-align: center;
}

.data-coming-from-form > *{
    margin-bottom: 20px;
}


.submission-details {
    text-align: left;
}

.submission-details p {
    margin-bottom: 5px;
}

/**************** Footer **************************/

footer{
    background-color: var(--header-footer-color);
    color:var(--paragraph-color2);  
    font-size: 1rem;
    padding: 20px;
    margin-top: 20px;
}

.course-info, .contact-info {
    line-height: 1.6;
}


.social-media {
    display: flex;
    justify-content: space-around;
}
.social-media svg{
    width: 50px;
    margin: 10px;
}


/******* Utils ********/

.no-margin {
    margin: 0;
}

